/*DND-LIST UL-LI*/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}
tr{
    min-height: 10px;
}
td{
    min-height: 10px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #EEE;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #DDD;
/*    border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
    border-radius: 10px;
    display: block;
    /*padding: 10px 15px;*/
    /*margin-bottom: -1px;*/
}

/**
 * Show selected elements in green
 */
/*.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}*/

ul[dnd-list] li:hover{
    background-color: #DDD;
}
ul[dnd-list] li:hover .kanban-gear{
    background-color: #AAA;
}
ul[dnd-list] li:hover .kanban-header{
    border-bottom: 1px solid #AAA;  
}
ul[dnd-list] li:hover .kanban-footer{
    border-top: 1px solid #AAA;
}


/*DND-LIST TR-TD*/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
tbody[dnd-list],
tbody[dnd-list] > tr {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
tbody[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}
tr{
    min-height: 10px;
}
td{
    min-height: 10px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
tbody[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
tbody[dnd-list] .dndPlaceholder {
    display: block;
    min-height: 42px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/*KANBAN CUSTOMIZED STYLE*/
.kanban-square{
    padding: 0px 2.5px 0px 2.5px;
}
.kanban-act-square{
    height: 95px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: grab;
    position: relative;
}
.flag{  
    width: 100%;
    border-bottom: 1px solid #DDD; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    padding-top: 5px;
}
.flag.flag-success{
    background-color: #00D900;
}
.flag.flag-warning{
    background-color: #FFFF66;
}
.flag.flag-error{
    background-color: #FF0000;
}
.flag.flag-blocked{
    background-color: #ddd;
}
.kanban-text{
    padding-left: 5px;
    margin-top: 3px;
    display: inline-block;
    font-family: Calibri;
    width: 100%;
    word-wrap:break-word;
}
.kanban-text.kanban-text-id{
    font-weight: 700;
    font-size: 15px;
}
.kanban-text.kanban-text-main{
    font-weight: 400;
    font-size: 14px;
}
.kanban-text.kanban-text-time{
    font-weight: 100;
    font-size: 14px;
}
.kanban-pic{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    background-color: black;
}
.kanban-gear{
    position: absolute;
    right: 2px;
    height: 19px;
    width: 19px;
    padding: 3px 2.5px 3px 2.5px;
    cursor: pointer;
    border-radius: 6px;
}
.kanban{
    padding: 0px;
    margin: 10px;
    border: 1px solid #222;
    padding-top: 15px;
}
.kanban-header{
    border-bottom: 1px solid #DDD;     
    padding: 0px;
}
.kanban-footer{
    border-top: 1px solid #DDD;
    padding-left: 0px; 
    bottom: 0px;
    height: 40px;
    width: 100%;
}
.kanban-content{
    height: 100%;
    width: 100%;
    display: block;
}
.sprint-text{
    font-family: Calibri;
    word-wrap:break-word;
}
.sprint-text.sprint-description{
    border: 1px solid #DDD;  
    border-radius: 5px; 
    display: inline-block;
}
.sprint-div-date{
    right: 0px;
}
.sprint-input-date{
    display: inline-block;
    width: 95px;
}
.sprint-header{
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sprint-div-description{
    padding-left: 0px;  
    display: block; 
}
.sprint-label{
    display: inline-block;
}

/*DIALOG ATIVIDADE*/
.dialog-title{
    word-wrap:break-word;
    font-size: 18px;
}
.dialog-div-input{
    padding: 0px;
}

/*tela adicionar sprint*/
.act-open{
    display: block;
    cursor: pointer;
}
.dialog-act-descr{
    min-height: 100px;
}
form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

/*botões*/
.button-icon{
    cursor: pointer;
}
.button-div-icon:hover{
    display: block;
    cursor: pointer;
    border-radius: 10px;
    background-color: #DDD;
}
.button-div-icon{
    float: right;
    padding-right: 0px;
}
.button-location{
    float: inherit;
}

/*ROW DEFINITION*/
.row.row-space{
    margin-bottom: 10px;
}