<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title dialog-title">{{dialog.historia.nome}}{{alerts}}</h3>
</div>
<div ng-controller="TabsActCtrl">
    <div class="modal-body">
        <uib-tabset active="0">
            <uib-tab index="$index" selected="true" ng-repeat="atividade in atividades" heading="{{atividade.nome}}" active="0" disable="atividade.disabled">
                <div class="control-group col-md-12 row-top-space">
                    <div class="col-md-6">
                        <label class="col-md-5">Nome:{{teste}}</label>
                        <div class="dialog-div-input col-md-6">
                            <input class="form-control" ng-model="atividade.nome"></input>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <label class="col-md-3">Participante:</label>
                        <div class="dialog-div-input col-md-8">
                            <select class="form-control dialog-input" ng-model="atividade.participantes.selected" ng-options="activ.nome for activ in atividade.participantes.options track by activ.nome"></select>
                        </div>
                    </div> -->
                </div>
                <div class="control-group col-md-12 row-top-space">
                    <div class="col-md-6">
                        <label class="col-md-5">Prioridade:</label>
                        <div class="dialog-div-input col-md-6">
                            <select class="form-control" ng-model="atividade.prioridades.selected" ng-options="opt for opt in atividade.prioridades.options"></select>
                        </div>
                    </div>
                </div>

                <div class="control-group col-md-12 row-top-space">
                    <div class="col-md-6">
                        <label class="col-md-5">Estimativa:</label>
                        <div class="dialog-div-input col-md-6">
                            <select class="form-control dialog-input" ng-model="atividade.estimativas.selected" ng-options="opt for opt in atividade.estimativas.options"></select>
                        </div>
                    </div>
                </div>
                <div class="row-fluid control-group control-space col-md-12">
                    <div class="control-group col-md-12 row-top-space ">
                        <label class="col-md-2">Descrição:</label>
                        <div class="controls col-md-8">
                            <textarea class="form-control dialog-act-descr col-md-12" ng-model="atividade.descricao"></textarea>
                        </div>  
                    </div>
                </div>
                <div class="row-fluid"></div>
            </uib-tab>
            <uib-tab index="$index" ng-click="addAtividade()" deselect="true";>
                <uib-tab-heading>
                    <i class="fa fa-plus-circle" ng-model="$index"></i>
                </uib-tab-heading>
            </uib-tab>
        </uib-tabset>
    <!-- <input type="text" class="form-control" required ng-model="model.name"/> -->
    </div>
    <div class="modal-footer" >
        <button class="btn btn-success button-location col-md-3" type="button" ng-click="save(atividades)">Salvar</button>
        <button class="btn btn-danger button-location col-md-3" type="button" ng-click="cancel()">Excluir</button>
    </div>
</div>