
<div class="modal-header">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title dialog-title">Lições Aprendidas</h3>
</div>
<div class="modal-body">
    <div class="control-group col-md-12">
        <div class="col-md-12 dialog-settings">
            <label class="col-md-4">Nome do Projeto:</label>
            <pre class="sprint-text col-md-6">Projeto 1</pre>
        </div>
        <div class="col-md-12 dialog-settings">
            <label class="col-md-4">Data:</label>
            <pre class="sprint-text col-md-6">{{dialog.dataLicao | date:'dd/MM/yyyy'}}</pre>
        </div>
        <div class="col-md-12 control-space dialog-settings">
            <label class="col-md-4">Participante:</label>
            <div class="dialog-div-input col-md-6">
                <select class="form-control" ng-model= "participantes.selected" ng-options="opt.nome for opt in participantes.options"></select>
            </div>
        </div>
        <div class="col-md-12 control-space dialog-settings">
            <label class="col-md-4">Assunto:</label>
            <div class="dialog-div-input col-md-6">
                <select class="form-control" ng-model= "assuntos.selected" ng-options="opt.nome for opt in assuntos.options"></select>
            </div>
        </div>
        <div class="control-space col-md-12 dialog-settings">
            <label class="col-md-2">Descrição:</label>
            <div class="controls col-md-10">
                <textarea class="form-control col-md-12 dialog-act-descr" ng-model="dialog.descricao">{{dialog.descricao}}</textarea>
            </div>
        </div>
    </div>
    <div class="row-fluid"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-success button-location col-md-3" type="button" ng-click="save(dialog, participantes.selected, assuntos.selected)">Salvar</button> 
    <button class="btn btn-danger button-location col-md-3" type="button" ng-click="cancelar()">Cancelar</button>
</div>