<div class="row">
	<div ng-repeat="(tableName, tables) in table.historias"  
		class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{tableName}}
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="dataTable_wrapper">
					<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Prioridade</th>
								<th>Esforço</th>
								<th ng-if="tableName === 'SprintBacklog'">Atividades</th>
							</tr>
						</thead>
						<tbody class="noselect" 
								dnd-list="tables"
								nameHist={{tableName}}>
							<tr class="odd gradeX noselect"
								ng-repeat="line in tables"
							    dnd-draggable="line"
						        dnd-moved="setStatusHistoria(line); tables.splice($index, 1);"
        						dnd-selected="table.selected = line"
							    dnd-effect-allowed="move"
        						ng-class="{'selected': table.selected === line}"
        						ng-controller="ModalDemoCtrl"
        						histID={{line.idHistoria}}>
								<td index={{$index}}>{{line.nome}}</td>
								<td>{{line.prioridade}}</td>
								<td>{{line.esforco}}</td>
								<td ng-controller="TabsActCtrl"
									ng-if="tableName === 'SprintBacklog'" 
									class="act-open fa fa-plus-circle"
									ng-click="openDialogAtividade('lg', line)"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<!--     <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Generated Model</h3>
            </div>
            <div class="panel-body">
                <pre class="code">{{table | json}}</pre>
            </div>
        </div>
    </div> -->
</div>
<uib-alert class="alert-scrum repeat-item" ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="2500" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	