<div class="col-md-4">
	<div class="widget-box">
		<div class="widget-title">
			<h5>Product Backlog</h5>
		</div>
		<!-- /.panel-heading -->
		<div class="widget-content">
			<div class="control-group control-space col-md-12">
				<label class="col-md-3 control-label">História:</label>
				<div class="controls col-md-9">
	                <input type="text" class="form-control" ng-model="fields.historia">
	            </div>
			</div>
			<div class="control-group control-space col-md-12">
				<label class="col-md-3 control-label">Prioridade:</label>
				<div class="controls col-md-9">
	                <select class="form-control" ng-model="fields.prioridade.selected" ng-options="opt for opt in fields.prioridade.options"></select>
	            </div>
			</div>
			<div class="control-group control-space col-md-12">
				<label class="col-md-3 control-label">Tamanho:</label>
				<div class="controls col-md-9">
	                <select class="form-control" ng-model="fields.esforco.selected" ng-options="opt for opt in fields.esforco.options"></select>
	            </div>
			</div>
			<div class="control-group control-space col-md-12">
		        <label class="col-md-3 control-label">Descrição:</label>
		        <div class="controls col-md-9">
		        	<textarea class="form-control" ng-model="fields.descricao">{{fields.descricao}}</textarea>
				</div>
			</div>
			<div>
				<button type="button" class="btn btn-default" ng-if="fields.status == 'criar'" ng-click="criarHistoria(fields)">Adicionar</button>
				<button type="button" class="btn btn-default" ng-if="fields.status == 'editar'" ng-click="editar(fields)">Salvar</button>
				<button type="button" class="btn btn-default" ng-if="fields.status == 'editar'" ng-click="cancelar()">Cancelar</button>
			</div>
		</div>
	</div>	
</div>
<div class="col-md-8">
	<div class="widget-box">
		<div class="widget-title"><span class="icon"> <i class="icon-th"></i></span>
			<h5>Historias</h5>
		</div>
		<!-- /.panel-heading -->
		<div class="widget-content nopadding">
			<div class="dataTable_wrapper">
				<table width="100%" class="table table-bordered table-striped" id="dataTables-example">
					<thead>
						<tr>
							<th class="col-md-0.5">ID</th>
							<th class="col-md-3">Historia</th>
							<th class="col-md-1">Prioridade</th>
							<th class="col-md-0.7">Tamanho</th>
							<th class="col-md-7">Descrição</th>
							<th class="col-md-1">Editar</th>
						</tr>
					</thead>
					<tbody class="noselect" 
							dnd-list="tables"
							nameHist={{tableName}}>
						<tr class="odd gradeX"
							ng-repeat="historia in historias"
							taskID={{historia.idHistoria}}>
							<td class="col-md-0.5" index={{$index}}>{{historia.idHistoria}}</td>
							<td class="col-md-3">{{historia.nome}}</td>
							<td class="col-md-1">{{historia.prioridade}}</td>
							<td class="col-md-0.7">{{historia.esforco}}</td>
							<td class="col-md-7">{{historia.descricao}}</td>
							<td class="col-md-1 glyphicon glyphicon-cog act-open" ng-click="editarHistoria(historia)"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>